@CHARSET "ISO-8859-1";

.categorias{
	position:absolute;
	top:57%;
	left:120%;
	width:200px;
	height:300px;
	margin-left:-500px;
	margin-top:-250px;
	text-align:center;
	border-style: solid;
	border-color: #aaaaaa;
	overflow: auto;
}
