@CHARSET "ISO-8859-1";
body {
    background-color: #DCDCDC;
} 
#imagem{
	position:absolute;
top:15%;
left:78%;
width:140px;
height:57px;
margin-left:100px;
margin-top:-80px;
}

.nav nav-pills .nav-justified{
	color:white;
}

header{
    background-color:black;
    height: 100px;
}

header h1{
    color:white;
    font-family: "kraash";
    font-size: 40px;
    bottom: 25px;
    left:400px;
    display:inline-block;
}

.bot {
	position: absolute;
	font-family: 'Freight Sans Bold', 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 10px;
	color: #4e5665;
	top: 635px;
	left: 20px;
	
} 

 .circle h1{
	
	font-family: 'Freight Sans Bold', 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-weight: normal;	
}

.texto_primario h3{
	color: #141823;
	font-family: 'Freight Sans Bold', 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 30px;
}

.texto_primario{
	margin-top:5%;
	margin-left:55%;
	width:580px;
	height:270px;
}

.cadastro{
	position:absolute;
	top:80%;
	left:100%;
	width:280px;
	height:270px;
	margin-left:-500px;
	margin-top:-250px;
	text-align:center;
	
}


.circle{
	position:absolute;
	top:30%;
	left:15%;
    width: 300px;
    height: 350px;
    border-radius: 80%;
    background-color: #ccc;
    padding: 30px;
    bottom: 300px;
}
